.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  cursor: pointer;
}

.box {
  background: rgba(0.0, 0.0, 0.0, 0.75);
  border-radius: 5px;
  border-style: double;
  border-color: #173869;
  margin-left: 200px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.text {
  font-family: 'VT323', monospace;
  font-size: 4em;
  color: #e2e2e2;
  text-shadow: 4px 4px #000000;
  margin: 20px;
}

.big {
  font-size: 6em;
}

body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #000000;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}
